.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}


/*Inputs*/
input[type=range] {
  width: 100%;
}

.drake-input {
  display: block;
  margin: auto;
}

.inputs-wrap {
  width: 50%;
  margin: auto;
}

.result {
  font-size: 2em;
}
